<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('assets/rede.jpg');">
  <div class="banner-home-content">
    <h1>Brazilian Goddies</h1>
  </div>
</div>

<div>
  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :query,
        params[:query],
          class: "form-control animated bounceInDown slow",
            placeholder: "Wanna find?" %>
      <% end %>
    </div>
